doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=1024, user-scalable=no")
    link(rel="stylesheet", media="screen", href="fonts/fonts.css")
    link(rel="stylesheet", media="screen", href="deck/core/deck.core.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/goto/deck.goto.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/menu/deck.menu.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/status/deck.status.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/scale/deck.scale.css")
    link(rel="stylesheet", media="screen", href="deck/themes/transition/fade.css")
    link(rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css")
    link(rel="stylesheet", media="screen", href="theme.css")
    link(rel="stylesheet", media="print", href="deck/core/print.css")
    script(src="deck/modernizr.custom.js")
    title Presentation
  body
    .deck-container

      // BEGIN SLIDES

      section.slide#title
        .centered.vcenter
          h1 Presentation
          h2#author Author
          h3#affiliation Affiliation
          h3#venue.spaced Venue, Date

      section.slide
        h2 Content
        p Here is some text.
        p Here is \(\sum_{i=1}^N i^2\) some math.
        p \[ -\log \mathcal{N}(x; \mu, \Sigma) \propto \frac{(x - \mu)^\top \Sigma^{-1} (x - \mu)}{2} \]

      section.slide
        h2 Lists
        ol
          li Number one! Number one! Number one! Number one! Number one! Number one! Number one! Number one! Number one!
          li Number two!
        ul
          li One item.
          li Another item. This item is quite long so that it will wrap. This item is quite long so that it will wrap.

      section.slide
        h2 Code Example
        pre.rounded
          code.
            import numpy as np

            x = np.random.randn(1000, 10)
            u, s, v = np.linalg.svd(x)
            print s[0]
      section.slide
        h2 Video Example
        p Here is a video (internet required to view):
        .video.centered
          iframe(src="http://www.youtube.com/embed/epUk3T2Kfno", frameborder="0", allowfullscreen)

      // END SLIDES

      p.deck-status(aria-role="status")
        span.deck-status-current
        = '/'
        span.deck-status-total

      form(action=".", method="get", class="goto-form")
        label(for="goto-slide") Go to slide:
        input(type="text", name="slidenum", id="goto-slide", list="goto-datalist")
        datalist#goto-datalist
        input(type="submit", value="Go")

script(src="deck/jquery.min.js")
script(src="deck/core/deck.core.js")
script(src="deck/extensions/menu/deck.menu.js")
script(src="deck/extensions/goto/deck.goto.js")
script(src="deck/extensions/status/deck.status.js")
script(src="deck/extensions/scale/deck.scale.js")
script(src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
script(src="mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js")
script(src="highlight/highlight.min.js")
script.
  $(function() { $.deck('.slide'); });
  hljs.initHighlightingOnLoad();
