doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=1024, user-scalable=no")
    link(rel="stylesheet", media="screen", href="fonts/fonts.css")
    link(rel="stylesheet", media="screen", href="deck/core/deck.core.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/goto/deck.goto.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/menu/deck.menu.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/status/deck.status.css")
    link(rel="stylesheet", media="screen", href="deck/extensions/scale/deck.scale.css")
    link(rel="stylesheet", media="screen", href="deck/themes/transition/fade.css")
    link(rel="stylesheet", media="screen", href="theme.css")
    link(rel="stylesheet", media="print", href="deck/core/print.css")
    script(src="deck/modernizr.custom.js")
    title Template
  body
    .deck-container

      // BEGIN SLIDES

      section.slide.centered
        h1#title Presentation Title
        #subtitle
          h2#author Author Names
          h3#affiliation Affiliation
          h2#venue Some Conference
          h3#date November 2024

      section.slide
        h2 Content
        p Here is some text.
        p Here is \(\sum_{i=1}^N i^2\) some math.

      section.slide
        h2 Code Example
        pre
          code.
            import numpy as np
            print(np.sqrt(300))

      // END SLIDES

      p.deck-status(aria-role="status")
        span.deck-status-current
        = '/'
        span.deck-status-total

      form(action=".", method="get", class="goto-form")
        label(for="goto-slide") Go to slide:
        input(type="text", name="slidenum", id="goto-slide", list="goto-datalist")
        datalist#goto-datalist
        input(type="submit", value="Go")

script(src="deck/jquery.min.js")
script(src="deck/core/deck.core.js")
script(src="deck/extensions/menu/deck.menu.js")
script(src="deck/extensions/goto/deck.goto.js")
script(src="deck/extensions/status/deck.status.js")
script(src="deck/extensions/scale/deck.scale.js")
script(src="mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
script(src="highlight/highlight.min.js")
script.
  hljs.initHighlightingOnLoad();
  $(function() { $.deck('.slide'); });
