// Put custom presentation styles in this file!

@import 'deck/themes/style/_reset.scss'

$font-size: 32px
$spacing: 30px

$black:     #000000
$blackish:  #333333
$gray:      #888888
$whiteish:  #dddddd
$white:     #ffffff

$yellowish: #ffffdd
$blueish:   #bbddff
$blue:      #99ccff
$red:       #cc3333

.deck-container
  background: $white
  color: $black
  font-family: "Source Sans Pro", sans-serif
  font-size: $font-size
  line-height: 1
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

code
  font-family: "Source Code Pro", monospace

pre, ol, ul, li, p, div.video
  margin: $spacing $spacing 0 $spacing
  padding: 0

li
  text-indent: -1.5em
  padding-left: 0.5em

  &:before // this sets the default bullet appearance
    content: '\2605' // ★
    margin: 0 0.5em 0 0

h1, h2, h3, h4, h5, h6
  font-family: "Source Serif Pro", serif
  margin: 0
  padding: $spacing
  background: $blue
  color: $blackish

h1
  top: 0 !important
  position: relative !important
  transform: none !important
  padding: $spacing !important
  margin-bottom: $spacing !important
  border-bottom: solid $blue 4px

h2
  padding-top: 0.6 * $spacing
  padding-bottom: 0.6 * $spacing
  margin-bottom: 0.5 * $spacing
  border-bottom: solid $blue 3px

pre
  $pre-bg: #f8f8f8  // for the github highlight.js theme.
  padding: $spacing / 2
  border: solid 1px darken($pre-bg, 10%)
  background: $pre-bg

ol, ul
  list-style: none

  li.bullet:before, li.dot:before
    content: '\2022' // •

  li.star:before
    content: '\2605' // ★

  li.section:before
    content: '\00a7' // §

  li.check:before, li.yes:before
    content: '\2714' // ✔

  li.x:before, li.no:before
    content: '\2718' // ✘

  li.hand:before, li.index:before, li.fist:before
    content: '\261e' // ☞

  li.asterism:before, li.stars:before
    content: '\2042' // ⁂

  li.fleuron:before, li.flower:before
    content: '\2767' // ❧

::selection
  background: $red
  color: $white

a, a:hover, a:focus, a:active, a:visited
  color: $blue
  text-decoration: none

a:hover, a:focus
  text-decoration: underline

.deck-status
  font-size: 0.6666em

.deck-menu
  .slide
    background: $whiteish
    border: solid 1px $gray
  .deck-current
    background: $yellowish

.no-touch .deck-container.deck-menu .slide:hover
  background: $yellowish

.video
  iframe
    height: 450px
    width: 600px

.video.sixteen-x-nine
  iframe
    width: 800px

.spaced
  margin-top: 2 * $spacing

.centered
  text-align: center

.rounded
  border-radius: $spacing / 3

.pull-left
  float: left

.pull-right
  float: right

.cite
  font-size: 0.9em
  color: $blackish
  &:before
    content: '['
  &:after
    content: ']'

#title
  h2, h3
    border: none
    background: none

  h3
    padding-top: 0

// use github highlight.js style by default
@import 'highlight/github.min.css'
