@charset "UTF-8";
@import url(../local/highlight.js/github.min.css);
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

ins {
  color: #000;
  background-color: #ff9;
  text-decoration: none; }

mark {
  color: #000;
  background-color: #ff9;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

ul, ol {
  margin-left: 2em;
  vertical-align: top; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

textarea {
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
  input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
    background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

select, input, textarea {
  color: #444; }

a {
  color: #607890;
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:active {
    outline: none; }
  a:hover, a:focus {
    color: #036; }
  a:link {
    -webkit-tap-highlight-color: #fff; }

img, iframe, video {
  display: block;
  max-width: 100%; }

body .deck-container .slide pre {
  padding: 15px;
  border: solid 1px #dfdfdf;
  background: #f8f8f8; }

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

html {
  font-size: 48px; }

body .deck-container {
  background: #ffffff;
  color: #000000; }
  body .deck-container .slide {
    font-family: "Merriweather", "Source Serif Pro", "PT Serif", Georgia, serif;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    word-spacing: 2px;
    letter-spacing: 0px; }
    body .deck-container .slide code {
      font-family: "Inconsolata", "Source Code Pro", "PT Mono", Consola, monospace; }
    body .deck-container .slide h1, body .deck-container .slide h2, body .deck-container .slide h3, body .deck-container .slide h4, body .deck-container .slide h5, body .deck-container .slide h6 {
      font-family: "Merriweather Sans", "Source Sans Pro", "PT Sans", Helvetica, sans-serif;
      font-weight: bold;
      word-spacing: 5px; }
    body .deck-container .slide a, body .deck-container .slide a:hover, body .deck-container .slide a:focus, body .deck-container .slide a:active, body .deck-container .slide a:visited {
      text-decoration: none; }
    body .deck-container .slide a:hover, body .deck-container .slide a:focus, body .deck-container .slide a:active {
      text-decoration: underline; }
    body .deck-container .slide .MathJax {
      font-style: normal;
      -webkit-font-smoothing: subpixel-antialiased; }
    body .deck-container .slide a, body .deck-container .slide a:hover, body .deck-container .slide a:focus, body .deck-container .slide a:active, body .deck-container .slide a:visited {
      color: #336699; }
    body .deck-container .slide h2 {
      border-color: #bbddff; }
    body .deck-container .slide pre, body .deck-container .slide ol, body .deck-container .slide ul, body .deck-container .slide li, body .deck-container .slide p, body .deck-container .slide div.video {
      margin: 0 1rem;
      padding: 0 0 1rem 0;
      line-height: 1; }
    body .deck-container .slide h1, body .deck-container .slide h2, body .deck-container .slide h3, body .deck-container .slide h4, body .deck-container .slide h5, body .deck-container .slide h6 {
      margin: 0;
      padding: 0.5rem 1rem;
      border-bottom: none;
      color: #111111; }
    body .deck-container .slide h1, body .deck-container .slide .vcenter h1 {
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 1rem; }
    body .deck-container .slide h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      border-bottom: solid 4px; }
    body .deck-container .slide h3 {
      font-size: 1.2rem; }
    body .deck-container .slide .video iframe {
      height: 450px;
      width: 600px; }
    body .deck-container .slide .video.video-16x9 iframe {
      width: 800px; }
    body .deck-container .slide .spaced {
      margin-top: 1rem; }
    body .deck-container .slide .nospace {
      margin-top: -1rem; }
    body .deck-container .slide img.pull-left, body .deck-container .slide img.pull-right, body .deck-container .slide video.pull-left, body .deck-container .slide video.pull-right, body .deck-container .slide iframe.pull-left, body .deck-container .slide iframe.pull-right {
      margin: 0 1rem 1rem; }
    body .deck-container .slide ol, body .deck-container .slide ul {
      margin-left: 1.5rem; }
    body .deck-container .slide ul {
      list-style: none; }
      body .deck-container .slide ul li {
        text-indent: -1.5rem; }
        body .deck-container .slide ul li:before {
          content: "★";
          margin: 0 0.5rem 0 0;
          width: 1rem; }
      body .deck-container .slide ul li.bullet:before, body .deck-container .slide ul li.dot:before {
        content: "•"; }
      body .deck-container .slide ul li.star:before {
        content: "★"; }
      body .deck-container .slide ul li.section:before {
        content: "§"; }
      body .deck-container .slide ul li.check:before, body .deck-container .slide ul li.yes:before {
        content: "✔"; }
      body .deck-container .slide ul li.x:before, body .deck-container .slide ul li.no:before {
        content: "✘"; }
      body .deck-container .slide ul li.hand:before, body .deck-container .slide ul li.index:before, body .deck-container .slide ul li.fist:before {
        content: "☞"; }
      body .deck-container .slide ul li.asterism:before, body .deck-container .slide ul li.stars:before {
        content: "⁂"; }
      body .deck-container .slide ul li.fleuron:before, body .deck-container .slide ul li.flower:before {
        content: "❧"; }
    body .deck-container .slide .centered {
      text-align: center; }
      body .deck-container .slide .centered * {
        margin-left: auto;
        margin-right: auto; }
    body .deck-container .slide .rounded {
      border-radius: 0.2rem; }
    body .deck-container .slide .clear {
      clear: both; }
    body .deck-container .slide .pull-left {
      float: left; }
    body .deck-container .slide .pull-right {
      float: right; }
    body .deck-container .slide#title h2, body .deck-container .slide#title h3 {
      border: none;
      background: none;
      margin: 0;
      padding: 0.5rem; }
    body .deck-container .slide .cite {
      font-size: 0.7em;
      color: #2ca02c; }
      body .deck-container .slide .cite:before {
        content: "["; }
      body .deck-container .slide .cite:after {
        content: "]"; }

.deck-status {
  font-size: 0.5rem; }

.deck-menu .slide {
  border: solid 3px #888888; }
.deck-menu .deck-current {
  border-color: #d62728; }

.no-touch .deck-container.deck-menu .slide:hover {
  border-color: #e377c2; }

.csstransforms .vcenter {
  padding: 0; }

::selection {
  background: #d62728;
  color: #ffffff; }

/*# sourceMappingURL=slides.css.map */
